<!DOCTYPE html>
<html>
<head lang="en">
    <title>TechnologyConversations.com - Books</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../../bower_components/paper-styles/demo-pages.html">
    <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">

    <link rel="import" href="../tc-books.html">
    <link rel="import" href="../tc-book-form.html">

    <style is="custom-style">
    </style>
</head>
<body>
<div class="layout wrap inline center-center">
    <div>
        <h1>Book Form </h1>
        <div class="demo">
            <tc-book-form id="tc-book-form"></tc-book-form>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>