<!DOCTYPE html>
<html>
<head lang="en">
    <title>TechnologyConversations.com - Books</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../../bower_components/paper-styles/demo-pages.html">
    <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">

    <link rel="import" href="../tc-book-form.html">

    <style is="custom-style">
        .demo {
            padding: 5px;
            background-color: white;
            display: inline-block;
            margin: 5px;
        @apply(--shadow-elevation-2dp);
        }
        h1 {
            margin-left: 24px;
        }
    </style>
</head>
<body>
<div>
    <input id="bookId">
    <button onclick="openBook()">Open</button>
</div>
<div>
    <button onclick="newBook()">New</button>
</div>
<div class="layout wrap inline center-center">
    <div>
        <h1>Books List</h1>
        <div class="demo">
            <tc-books id="tc-books"></tc-books>
        </div>
    </div>
    <div>
        <h1>Book Form </h1>
        <div class="demo">
            <tc-book-form id="tc-book-form"></tc-book-form>
        </div>
    </div>
</div>
<paper-toast id="toast"></paper-toast>
<script>
    var tcBookForm = document.querySelector('#tc-book-form');
    var toast = document.querySelector('#toast');
    tcBookForm.addEventListener('getBook', onGetBook);
    tcBookForm.addEventListener('putBook', onPutBook);
    tcBookForm.addEventListener('deleteBook', onDeleteBook);
    function openBook() {
        var bookId = document.querySelector('#bookId');
        tcBookForm.open(bookId.value);
    }
    function newBook() {
        tcBookForm.open(0);
    }
    function onGetBook(e) {
        bookChanged(e.detail.title, 'retrieved');
    }
    function onPutBook(e) {
        bookChanged(e.detail.title, 'saved');
    }
    function onDeleteBook(e) {
        bookChanged(e.detail.title, 'deleted');
    }
    function bookChanged(title, status) {
        toast.text = title + ' has been ' + status + '.';
        toast.show();
    }
</script>
</body>
</html>